<mat-toolbar color="primary">
  <span>
    <a routerLink="" mat-button>
      <mat-icon>local_movies</mat-icon>
      AngularMovies</a
    >
  </span>
  <div>
    <span>
      <a routerLink="genres" mat-button>
        <mat-icon>local_movies</mat-icon>
        Genres</a
      >
    </span>
  </div>
  <div>
    <span>
      <a routerLink="theaters" mat-button>
        <mat-icon>local_movies</mat-icon>
        Theaters</a
      >
    </span>
  </div>
  <div>
    <span>
      <a routerLink="actors" mat-button>
        <mat-icon>local_movies</mat-icon>
        Actors</a
      >
    </span>
  </div>
</mat-toolbar>
